/* CSS Document */
/* CSS REQUIRED */
.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}
/* TAGS CCS */

.list-group-item.tag-info  {
	min-width:140px;
	float:left;
	margin:0 5px 5px 0}
	
/*GENERIC*/

.centre {
	text-align:center;
}

h3.details {
	margin-top:0;
}
h3.name {
		margin-bottom:0;
}
.detailsholder {
	margin-top: 10px;
border-top: #e1e1e1 1px dashed;
padding-top: 10px;
}

.linkedinbtn {
	background-color:#007bb6;
	color:#f7f7f7;
}
.linkedinbtn:hover {
	background-color:#006EA2;
	color:#f7f7f7;
}
.sidebutton {
	min-width:120px;
}

.benefits-circle-text {
    width:100%;
	
    max-width:150px;
	margin:0 auto;
}
.benefits-circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #4ba1d2; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.benefits-circle-inner p {
	font-size:12px;
	margin:15px 0 0 0;
}
.benefits-circle-inner h2 {
	margin-top:0;
	}

.benefits-circle-text .benefits-circle-inner{
    float:left;
    width:100%;
    margin-top:0.5em;
    text-align:center;
	color:#fff;
	letter-spacing: -1px;
}
.circle-text {
    width:100px;
	margin:0 auto;
}
.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #4679BD; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.circle-text div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
	font-size: 50px;
}

ul.savedlists li {
	border-bottom: #eee solid 1px;
	padding: 10px 0;
}
ul.savedlists li:last-child {
	border-bottom: none;
	padding: 10px 0;
}