DirectoryIndex index.php
RewriteEngine on

#AuthUserFile /home/antonio/.htpasswd
#AuthType Basic
#AuthName "Please log in"
#Require valid-user

RewriteCond $1 !^(index\.php|gallery|fonts|email_attachments|images|css|js|robots\.txt|favicon\.ico)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./index.php/$1 [L,QSA]

Header edit Set-Cookie ^(.*)$ $1;HttpOnly;Secure
 
