.portlet-content,
.portlet-header {
    font-family: 'Open Sans', sans-serif
}

.pipe-user,
.portlet:hover {
    cursor: move
}

html {
    overflow-y: scroll
}

.column {
    padding-bottom: 50px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px
}

.portlet {
    padding: 0;    width: 100%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.96)!important;
        border-radius: 2px;
    margin-top: -1px;
}

.portlet-header {
    position: relative;
    font-weight: 100;
    background: 0 0;
    border-bottom: 1px solid #9797A6;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
        font-size: 14px;
    font-weight: 500;
}

.portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px
}

.portlet-content {
    padding: .1em;
    font-size: 9px;
    font-weight: 600
}

.portlet-placeholder {
    border: 1px dotted #000;
    height: 100px;
    display: block;
    text-indent: -9999px;
    width: 96%;
    background: url(../images/plus.svg) center no-repeat #D8D8D8;
    background-size: 100px 82px;
    margin: auto
}

#pipeline_content img {
    float: left;
    padding-right: 3px;
    width: 23%
}

.ui-widget-content {
    background: 0 0
}

.ui-widget-content.ui-sortable-helper {
    background-color: rgba(255, 255, 255, .7)!important
    
}

.ui-sortable-helper {
    -webkit-box-shadow: 10px 10px 75px -16px rgba(0, 0, 0, .75);
    -moz-box-shadow: 10px 10px 75px -16px rgba(0, 0, 0, .75);
    box-shadow: 10px 10px 75px -16px rgba(0, 0, 0, .75);
}

.colum-header {
    background-color: #2B4461;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 1px 10px 8px;
    border-bottom: 1px #CAD1DB solid;
    padding: 8px;
}

.p-holder {
    background-color: red;
    height: 10px
}

.reduced-padding {
    padding: 0 5px
}

.header-bold {
    font-weight: 700;
        text-transform: capitalize
}

.delete {
    width: 60px;
    background: url(../images/bin.svg) center no-repeat #FB6174;
    background-size: 22px;
    height: 34px;
    margin-left: 5px;
    padding-top: 0;
    transition: width 2s;
    padding: 0;
}

.delete .portlet-placeholder {
    width: 60px;
    background: url(../images/bin.svg) center no-repeat #FB6174;
    background-size: 25px;
    height: 50px;
    padding-top: 0;
    transition: width 2s;
}

.ui-widget-header {
    border: none
}

#pipeline_labels h2 {
    font-size: 16px;
    color: #FFF;
    text-transform: capitalize;
    font-family: inherit;
    text-align: center;
    font-weight:300;
        margin: 0;
}

.badge.wc {
    border-radius: 0 4px 0 0;
   background-color: #00c8ac;
    color: #fff;
    font-size: 11px;
    padding: 10px 15px;
    right: 5px;
    position: absolute;
    height: 97%;
    margin-top: -8px;
}

.badge.sc {
    border-radius: 0 4px 0 0;
    background-color: #ff8c00;
    color: #fff;
    font-size: 11px;
    padding: 10px 15px;
    right: 5px;
    position: absolute;
    height: 97%;
    margin-top: -8px;
}


.split-label {
        text-align: center;
    padding: 2px;
    font-size: 11px;
}
.c_name {
    font-size: 18px;
    padding:10px 5px;
    text-align: center;
    font-weight: 300}

.label-Unknown {
    background-color: #999;
    color: #fff;
    text-transform: lowercase;
}

.wc {
    background-color:transparent;
}

.sc {
    background-color: transparent;
}