/*page-results-list */
.profile-heading > span {
	float: left;
}
.profile-heading > span > img{
	width: 30px;
	height: 30px;
}
.profile-heading > h3 {
	margin:2px 0px 0px 40px;
}

#main_search > .form-row > .form-group , #main_search .col-md-6 {
	padding:0px;
	overflow: hidden;
} 

#main_search > .form-row > .form-group > .col-md-6:first-child{
	padding-right: 2px;
}
#main_search > .form-row > .form-group > .col-md-6:last-child{
	padding-left: 2px;
}
.sidebar ul li a {
	color:#000;
}

.btn-group.toggle-btn-group > .active {
	color: #fff !important;
	background-color: #5cb85c!important;
	border-color: #4cae4c!important;
}

.toggle-btn-group .btn{
	background: #ccc;
}

.nav>li>a {
	color:#000;
}

.navbar-default .navbar-brand {
	color: #111;
	font-weight: bold;
}

.sidebar .sidebar-search  {
	padding:0px;	
}
.sidebar  .panel{
	border: 0px; 
	border-radius: 0px;
	border-bottom: 1px solid #ddd;
}
.campaing_edit_options{
	padding:6px;
}

.campaing_edit_options .btn-block {
	border-radius: 0px;
}

.assign-to-wrapper form {
	position: relative;
	float: right;
}





.navbar-default .navbar-text {
	color: #000;
	font-size: 22px;
	padding: 0px 5px;
	margin: 0px;
	line-height: 48px;
}

.navbar-default .navbar-text small{
	color: #777;
}

.label {
	font-weight: normal;
}


.nav-second-level > li{
	border-top: 1px solid #ddd;
	background: #fff;
}

.modal-loading-display{
	position: absolute;
	top: -56px;
	background: #222;
	background: rgba(0, 0, 0, .7);
	width: 100%;
	height: 109%;
	border-radius: 5px 5px 0px 0px;
	left: 0px;
}

.modal-loading-display > span{
	position:relative;top:45%;
}

.list-group-item {
	border:0px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.list-group-item:first-child{
	border-top-left-radius: 0px; 
   border-top-right-radius: 0px; 
}
.list-group-item:last-child {
	margin-bottom: 0;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.list-group-item.delayed {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
/* BUTTONS */

.btn-checkbox {
	font-size:12px !important;
	margin-bottom:3px !important;
}
.btn.duedil {
	background-color:#fff;;
	background-image:url(../images/duedil_logo.png);
	background-size: auto 20px;
	background-position:center;
	background-repeat:no-repeat;
	text-indent:-9999px;
	border-color:#ddd;
}
.btn.duedil:hover {
	background-color:#f7f7f7;
	border-color:#EE243A;
}

.btn.linkedin {
	background-color:#fff;;
	background-image:url(../images/linkedin.png);
	background-size: auto 20px;
	background-position:center;
	background-repeat:no-repeat;
	text-indent:-9999px;
	border-color:#ddd;
}
.btn.linkedin:hover {
	background-color:#f7f7f7;
	border-color:#0976b4;
}

.count_of_results {
line-height: 30px;
font-weight: 700;
}

.pager li>a {
	border-radius:5px;
}
.assign-to-wrapper .btn-primary, .assign-to-wrapper .edit-btn {
	border-radius:5px;
	float:right;
	margin: 0px 3px;
}


.btn-search-edit {
margin-top: 10px;
}

.toggle-btn-group .btn {
color: #DFDFDF;	
}

#page-wrapper {
	border-left: none;
}
.navbar-default {

border-right: 1px solid #e7e7e7;

}
.clear-fields{
	background-color:#FFDCDE !important;
}
.clear-fields:hover{
	background-color:#FFBFBF !important;
}

<<<<<<< HEAD
/*ACTION COMMENTS BOX*/
.mic-info { color: #666666;font-size: 11px;margin-top: 5px; }


.triangle-isosceles , .comment-text .outcome{
  position:relative;
  padding:15px;
  margin:1em 0 0 0;
  color:#000;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}

/* Variant : for top positioned triangle
------------------------------------------ */

.triangle-isosceles {
	border:#d1d1d1 1px solid;
}
/* creates triangle */
.triangle-isosceles:after {
  content:"";
  position:absolute;
  bottom:-15px; /* value = - border-top-width - border-bottom-width */
  left:50px; /* controls horizontal position */
  border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#f3961c transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}
.triangle-isosceles:after {
  top:-15px; /* value = - border-top-width - border-bottom-width */
  left:50px; /* controls horizontal position */
  bottom:auto;
  left:auto;
  border-width:0 15px 15px; /* vary these values to change the angle of the vertex */
  border-color:#d1d1d1 transparent;
}

.comment-text {
	margin-top:30px;
}

.comment-text .outcome {
	border:#d1d1d1 1px solid;
	padding:15px;
		
}

.assigned-image-holder{
	max-width:30px; float:left;
}

.saved-search-text .assigned-image-holder {
	margin-top: 12px;margin-right: 5px;
}

.company-header {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

.top-info-holder {
	margin-bottom: 20px;
}

/* LABELS */
.label-OnHold {
	background-color: #f0ad4e;
}
.label-Prospect {
	background-color: #999;
}
.label-Intent {
	background-color: #46A0D4;
}
.label-Qualified {
	background-color: #59B200;
}
.label-SignUp {
	background-color: #00B285;
}
.label-Proposal {
	background-color: #993366;
}
.label-Unsuitable {
	background-color: #B80000 ;
}
.label-Lost {
	background-color: #8C4600 ;
}
.autocomplete-live {
	-webkit-border-radius:5px 5px 0  0 !important;
	-moz-border-radius:5px 5px 0  0 !important;
	border-radius:5px 5px 0  0 !important;
}

#autoSuggestionsList {
	position: relative;
	clear: both;
}

ul.autocomplete-holder {
	list-style-type: none;
	padding-left: 0;
	-webkit-border-radius:0  0 5px 5px !important;
	-moz-border-radius:0  0 5px 5px !important;
  	border-radius:0  0 5px 5px !important;
  	background-color: #F6F6F6;
  	border: 1px #A5B0B1 solid;
  	border-top: none;
  	width: 100%;
}
li.autocomplete-item:first-child { 

}
li.autocomplete-item { 
	font-size: 12px;
	padding: 10px 5px;
}
/* SAVED LISTS */
li.autocomplete-item:hover {
	background-color: #428bca;
	color: #fff;
	text-decoration: none;
}
a li.autocomplete-item:hover {
	text-decoration: none;
}

/* SAVED LISTS */
.load-saved-search:hover {
	background-color: #DEFFE2;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 768px) {
	.modal-dialog {
		width: 700px !important;
	}
}

#single-page {
	padding-top: 20px;
}
