/*page-results-list */
.page-results-list .company .panel-heading {
	padding: 5px;
	width: 250px;
	float: left;
	border-top-right-radius:0px;
	border-bottom-right-radius: 3px;
}

.page-results-list .panel-primary {
	border-color: #ddd; 
}


#main_search > .form-row > .form-group , #main_search .col-md-6 {
	padding:0px;
	overflow: hidden;
} 

#main_search > .form-row > .form-group > .col-md-6:first-child{
	padding-right: 2px;
}
#main_search > .form-row > .form-group > .col-md-6:last-child{
	padding-left: 2px;
}
.sidebar ul li a {
	color:#000;
}

.btn-group.toggle-btn-group > .active {
	color: #fff !important;
	background-color: #5cb85c!important;
	border-color: #4cae4c!important;
}

.toggle-btn-group .btn{
	background: #ccc;
}

.nav>li>a {
	color:#000;
}

.navbar-default .navbar-brand {
	color: #111;
	font-weight: bold;
}

.sidebar .sidebar-search{
	padding:0px;	
}

.campaing_edit_options{
	padding:6px;
}

.campaing_edit_options .btn-block {
	border-radius: 0px;
}

.assign-to-wrapper form {
	position: relative;
	float: left;
}


.assign-to-wrapper .btn-primary {
	margin-right: 5px;
}

.navbar-default .navbar-text {
	color: #000;
	font-size: 22px;
	padding: 0px;
	margin: 0px;
	line-height: 49px;
}

.navbar-default .navbar-text small{
	color: #777;
}

.label {
	font-weight: normal;
}

.assign-to-wrapper .btn {
	border-radius: 5px 0px 0px 5px;
}

